.vs/
Ninja.Application/obj/
/Ninja.Application/bin/Debug/netcoreapp3.1

ninja-unit-test/obj/

Ninja.Application/bin/

Ninja.Application/obj/
/Ninja.UnitTests/obj
/Ninja.UnitTests/bin/Debug/netcoreapp3.1
